[Desktop Entry]
Name=Intuitives
GenericName=Intuitives DAW
Comment=Rule-Free Experimental Digital Audio Workstation
Comment[fr]=Station de travail audio numérique expérimentale sans règles
Exec=/usr/bin/intuitives %U
Icon=intuitives
Terminal=false
Type=Application
Categories=Qt;AudioVideo;Audio;Music;Multimedia;
